@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');


.nav-bar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: rgba(30, 28, 28, 0.8);
}

.logo{
    font-size: 2rem;
    margin-left: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.title{
    margin-right: 2rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 426px){
    .nav-bar{
        flex-direction: column;
        align-content: center;
        justify-items: center;
    }
    .logo{
        margin: 1rem;
    }
    .title{
        margin: 1rem;
    }
}